html,
body {
  background: #ffffff;
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("../content/header.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  min-height: 20 px;
  margin-left: 20%;
}

.navbar-brand {
  font-weight: 500;
  font-size: 200%;
  color: #fffbfb;
}

h1 {
  display: block;
  color: #fffbfb;
  font-size: 6em;
  margin-top: 1em;
  margin-bottom: 0.1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold 5px;
}

h2 {
  display: block;
  color: #fffbfb;
  font-size: 13em;
  margin-top: 0em;
  margin-bottom: 0.67em;
  font-weight: bolder;
}

h3 {
  display: block;
  font-size: 2em;
  margin-top: 0em;
  margin-bottom: 0.67em;
  font-weight: bold;
}

h4 {
  display: block;
  font-size: 3em;
  margin-top: 0em;
  margin-bottom: 0.67em;
  font-weight: bold;
}

#lowest-point-in-home {
  margin-top: 0px;
  float: right;
  margin-right: 47%;
}

#section-3 {
  margin-block: 10em;
  height: 300px;
}

.number {
  font-size: 100px;
  color: white;
}

.bg-2 {
  /* The image used */
  background-image: url("../content/unique-design-bg.jpg");

  /* Full height */
  height: 70%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img1 {
  position: relative;
  z-index: 1;
}

.img2 {
  position: relative;
  display: inline-block;
  z-index: 2;
  top: 170px;
  left: -120px;
}

.bx-wrapper .bx-viewport {
  //remove , between both selectors
  //-----^----- added -
  background: #efefef;
}
